Client/Client/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50332/Server.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50332/Server.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50332/Server.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
      <xsd:import schemaLocation="http://localhost:50332/Server.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServer_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServer_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServer_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IServer_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_LoginDesigner_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginDesigner" />
  </wsdl:message>
  <wsdl:message name="IServer_LoginDesigner_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginDesignerResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_LoginAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAdmin" />
  </wsdl:message>
  <wsdl:message name="IServer_LoginAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_AddDesignInDL_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDesignInDL" />
  </wsdl:message>
  <wsdl:message name="IServer_AddDesignInDL_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDesignInDLResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_AddShoe_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShoe" />
  </wsdl:message>
  <wsdl:message name="IServer_AddShoe_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShoeResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_GetOrdersList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersList" />
  </wsdl:message>
  <wsdl:message name="IServer_GetOrdersList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersListResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_SetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetStatus" />
  </wsdl:message>
  <wsdl:message name="IServer_SetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_ShowShoeStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowShoeStatus" />
  </wsdl:message>
  <wsdl:message name="IServer_ShowShoeStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowShoeStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IServer">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/GetData" message="tns:IServer_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/GetDataResponse" message="tns:IServer_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/GetDataUsingDataContract" message="tns:IServer_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/GetDataUsingDataContractResponse" message="tns:IServer_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/Register" message="tns:IServer_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/RegisterResponse" message="tns:IServer_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginDesigner">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/LoginDesigner" message="tns:IServer_LoginDesigner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/LoginDesignerResponse" message="tns:IServer_LoginDesigner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/LoginAdmin" message="tns:IServer_LoginAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/LoginAdminResponse" message="tns:IServer_LoginAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDesignInDL">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/AddDesignInDL" message="tns:IServer_AddDesignInDL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/AddDesignInDLResponse" message="tns:IServer_AddDesignInDL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShoe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/AddShoe" message="tns:IServer_AddShoe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/AddShoeResponse" message="tns:IServer_AddShoe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrdersList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/GetOrdersList" message="tns:IServer_GetOrdersList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/GetOrdersListResponse" message="tns:IServer_GetOrdersList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/SetStatus" message="tns:IServer_SetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/SetStatusResponse" message="tns:IServer_SetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowShoeStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/ShowShoeStatus" message="tns:IServer_ShowShoeStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/ShowShoeStatusResponse" message="tns:IServer_ShowShoeStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServer" type="tns:IServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServer/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServer/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IServer/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginDesigner">
      <soap:operation soapAction="http://tempuri.org/IServer/LoginDesigner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAdmin">
      <soap:operation soapAction="http://tempuri.org/IServer/LoginAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDesignInDL">
      <soap:operation soapAction="http://tempuri.org/IServer/AddDesignInDL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShoe">
      <soap:operation soapAction="http://tempuri.org/IServer/AddShoe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersList">
      <soap:operation soapAction="http://tempuri.org/IServer/GetOrdersList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetStatus">
      <soap:operation soapAction="http://tempuri.org/IServer/SetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowShoeStatus">
      <soap:operation soapAction="http://tempuri.org/IServer/ShowShoeStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IServer" binding="tns:BasicHttpBinding_IServer">
      <soap:address location="http://localhost:50332/Server.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>