Client/Client/Web References/localhost/Server2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfShoe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Shoe" nillable="true" type="tns:Shoe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShoe" nillable="true" type="tns:ArrayOfShoe" />
  <xs:complexType name="Shoe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Laces" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MainColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SideColor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Shoe" nillable="true" type="tns:Shoe" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shoe" nillable="true" type="tns:Shoe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
</xs:schema>